@charset "utf-8";
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,div,form,input{margin:0;padding:0;}
ul,ol{list-style:none;}
img{border:none;}
a{text-decoration:none;color:#A4A4A4;}
body{font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;background:#eee;font:.2rem/1.5;}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}
.clearfix{zoom:1;}