@charset"UTF-8";
#container{
	max-width:750px;
	min-width:320px;
	margin:auto;
	background:#fff;
}
#container #header{
	position: fixed;
	width:7.5rem;
	background:rgb(250,250,250);
	font-size:.26rem;
	z-index: 999;
}
/*<!--搜索导航开始-->*/
#container .h-search{
	width:7rem;
	height:.5rem;
	margin:auto;
	padding:.15rem .25rem;
}
#header .h-search .h-s-logo{
	display:inline-block;
	width:.55rem;
	vertical-align: middle;
}
#header .h-search img{
	width:.55rem;
}
#header .h-search  .h-s-input{
	display:inline-block;
	width:5.2rem;
	height:.5rem;
	margin:0 0 0  .2rem;
	border:0.01rem solid #ccc;
	border-radius:.08rem;
	background:#fff;
	line-height:.5rem;
	text-indent:.7rem;
	background:url("../images/search.png") no-repeat 0 0rem/cover;
	vertical-align: middle;
}
#header .h-search .h-s-register{
	font-weight:bold;
	display:inline-block;
	margin-left:.31rem;
	color:#ccc;
	vertical-align: middle;
}
/*<!--搜索结束-->*/
#header .h-nav{
	display:flex;
	width:7rem;
	height:.33rem;
	padding:.15rem .25rem;
	justify-content:space-between;
	}
#header .h-nav li:nth-child(1) a{
	padding-bottom:.1rem;
	border-bottom:.04rem solid #f90;
	color:#f90;
}
/*头部样式结束*/
/*--轮播样式开始--*/
#banner{
	position: relative;
	top:1.4rem;
	width:7.5rem;
	height:3.75rem;
	margin-bottom:1.4rem;
}
#banner ul > li{
	position: absolute;
	top:0;
	margin:0;
}
#banner ul > li a img{
	width:7.5rem;
}
#banner .dian{
	position:absolute;
	width:.6rem;
	bottom:.25rem;
	right:3rem;
}
#banner .dian span{
	displauy:block;
	float:left;
	width:.1rem;
	height:.1rem;
	margin:.05rem;
	border-radius:50%;
	background:#fff;
}
/*--轮播结束--*/
#content .c-nav{
	display:flex;
	width:7rem;
	margin: auto;
	padding:0 .25rem .2rem;
	font-size:.18rem;
	font-size: .18rem;
	text-align: center;
	border-bottom:.01rem solid #ccc;
	justify-content: space-around;
}
#content .c-nav li img{
	width:1.4rem;
	height:1.05rem;
}
/*--导航栏结束--*/
#content .c-new .c-n-left{
	float:left;
}
#content .c-new .c-n-left img{
	width:1.5rem;
}
#content .c-new .c-n-right{
	float:left;
	padding-left:.2rem;
	margin-top:.38rem;
	font-size:.26rem;
	border-left:.01rem solid #444;
}
#content .c-new .c-n-right a{
	color:#000;
}
/*--内容图片1--*/
#content{
	margin-bottom:1rem;
	width:7.5rem;
}
#content .c-pic-1 ul li{
	position: relative;
	float:left;
	width:3.31rem;
	padding:0.25rem 0.2rem 0;
	background:#d0dde5
}
#content .c-pic-1 ul li:nth-child(1){
	margin-right:.08rem;
}
#content .c-pic-1 ul li:nth-child(1) a{
	display:block;
	height:5rem;
}
#content .c-pic-1 ul li:nth-child(1) img{
	width:3.2rem;
	margin-top:.6rem;
}
#content .c-pic-1 .text{
	position: absolute;
	top:.25rem;
	left:.2rem;
}
#content .c-pic-1 .text p:nth-child(1){
	font-size:.26rem;
	color:#000;
}
#content .c-pic-1 .text p:nth-child(2){
	font-size: .16rem;
	color:#666;
}
#content .c-pic-1 li:nth-child(2){
	margin-bottom:.08rem;
	background:rgb(180,225,230);
}
#content .c-pic-1 li:nth-child(2),#content .c-pic-1 li:nth-child(3){
	height:2.33rem;
}
#content .c-pic-1 li:nth-child(2) img,#content .c-pic-1 li:nth-child(3) img{
	position: absolute;
	width:2.07rem;
	bottom:0;
	right:0;
}
#content .c-pic-1 li:nth-child(3){
	background:rgb(235,210,191)
}
/*--内容图2--*/
#content .c-pic-2{
	width:7.5rem;
}
#content .c-pic-2 .text p:nth-child(1){
	font-size:.4rem;
	color:#222;
}
#content .c-pic-2 .text p:nth-child(2){
	font-size:.18rem;
	color:#000;
	line-height:.35rem;
}
#content .list-1{
	position:relative;
	width:7.5rem;
	height:2.8rem;
	margin-top:.08rem;
	background:rgb(250,221,217);
}
#content .list-1 img{
	position: absolute;;
	width:2.98rem;
	right:0;
}
#content .list-1 .text{
	position:absolute;;
	top:.87rem;
	left:.5rem;
}
#content .list-1:nth-child(2){
	background: rgb(242,237,225);
}
/*--内容图片3--*/
#content .c-pic-3 h2{
	font-size: .26rem;
	line-height:.6rem;
	padding-lrft:.3rem;
}
#content .c-pic-3 .list-2{
	position: relative;
	width:7.5rem;
	height:3.75rem;
	background: rgb(179,212,237);
}
#content .c-pic-3 .list-2 img{
	position: absolute;
	width:4.3rem;
	right:0;
	top:-.72rem;
}
#content .c-pic-3 .list-2 .text{
	position: absolute;;
	top:.3rem;
	left:.25rem;
}
#content .c-pic-3 .list-2 .text p:nth-child(1),#content .c-pic-4 .text p:nth-child(1){
	font-size: .26rem;
}
#content .c-pic-3 .list-2 .text p:nth-child(2),#content .c-pic-4 .text p:nth-child(2){
	font-size: .22rem;
	line-height:.5rem;
	color:#666;
}
#content .c-pic-3 .list-2 .text p:nth-child(3),#content .c-pic-4 .text p:nth-child(3){
	font-size: .28rem;
	color:#f60;
}
/*--内容图片3结束--*/
#content .c-pic-4{
	margin-top:.08rem;
}
#content .c-pic-4 a{
	float: left;
}
#content .c-pic-4 img{
	width:3.71rem;
	margin-bottom: -.23rem;
}
#content .c-pic-4  .text{
	padding-left:.25rem;
	background:#fff;
}
/*--图片4结束--*/

#content .c-pic-5 .text{
	margin-top:-1.3rem
}
#content .c-pic-5 .text p:nth-child(1){
	color:#fff;
	margin-top:.3rem;
	font-weight: bold;;
}
#content .c-pic-5 .text p:nth-child(2){
	color:#fff;
}
/*--底部--*/
#footer{
	position:fixed;
	width:7.5rem;
	height:1rem;
	bottom:0;
	background:#fff;
	text-align:center
}
#footer ul{
	display: flex;
	width:7.5rem;
	height: 1rem;
	justify-content: space-around;
	margin-top:.2rem
}
#footer ul li{
	font-size:.22rem;
	text-align: center;
}
#footer ul li i{
	display: block;
	width:.4rem;
	height:.4rem;
	margin.1rem 0;
	background: url("../images/footer.png") no-repeat 0 -2.4rem/.4rem;
}
#footer ul li:nth-child(1) a{
	color:#f90
}
#footer ul li:nth-child(2) i{
	background-position: 0  -.4rem;
	transition:all .3s;
}
#footer ul li:nth-child(3) i{
	background-position: 0  -1.2rem;
	transition:all .3s;
}
#footer ul li:nth-child(4) i{
	background-position: 0  -2rem;
	transition:all .3s;
}
#footer ul li:nth-child(2) i:hover,#footer ul li:nth-child(2):hover p{
	background-position: 0  0;
	color:#f90;
}
#footer ul li:nth-child(3) i:hover,#footer ul li:nth-child(3):hover p{
	background-position: 0  -.8rem;
	color:#f90;
}
#footer ul li:nth-child(4) i:hover,#footer ul li:nth-child(4):hover p{
	background-position: 0  -1.6rem;
	color:#f90;
}